
@{
    ViewBag.Title = "No Residents Found";
}

<h3>No Residents Found</h3>

<hr />
<h4>
    Case No. @ViewBag.CaseNumber has no Residents assigned yet!
</h4>

@Html.ActionLink("Back to List", "Index", "Cases")


